

#titleImageDiv {
    position: relative;
    width: 250px;
    height: 100px;

    margin: auto;
}

#instructionsDiv {
    position: relative;
    width: 250px;
    height: 100px;
    
    margin: auto;
}

#searchFieldDiv {
    position: relative;
    width: 250px;
    margin: auto;
}

#StartSearchButtonDiv {
    position: relative;
    width: 250px;

    margin: auto;
}

#nameListDiv {
    position: relative;
    width: 250px;
    margin: auto;
}

#resultViewDiv {
    position: relative;
    width: 250px;
    height: 200px;
    margin: auto;
}