@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <h1 class="banner">VOS Logboek</h1>
</nav>
<section id="show-room">
    <p>Hier komen de inlog functies</p>
</section>